<template>
    <div class="content">
        <a-card :style="'margin-bottom: 30px'">
            <span :style=" $breakpoints.md ? 'font-size: 25px;' : $breakpoints.xs ? 'font-size: 20px' : 'font-size: 36px'">Profile</span>
        </a-card>

        <a-card :style=" $breakpoints.sSm ? 'padding: 10px 0px' : 'padding: 30px'">
            <a-row type="flex" justify="center" :gutter="[20, 20]">
                <a-col :span="$breakpoints.md ? '24' : $breakpoints.sMd ? '24' : '18'">
                    <a-row type="flex" justify="center">
                        <a-col :span=" $breakpoints.xs ? '20' : $breakpoints.sSm ? '20' : $breakpoints.sm ? '18' : '24'">
                            <h1>Do you want to update your Profile? <span style="color: #1f67dc">Update here <a-icon type="arrow-down" /></span></h1>
                            <a-row :gutter="[10]">
                                <a-form-model :model="form" :rules="rules" ref="ruleForm">
                                    <a-col :span="12">
                                        <a-form-model-item label="First Name" prop="fname" >
                                            <a-input v-model="form.fname" :disabled="loading"></a-input>
                                        </a-form-model-item>
                                    </a-col>
                                    <a-col :span="12">
                                        <a-form-model-item label="Middle Name">
                                            <a-input v-model="form.mname" :disabled="loading"></a-input>
                                        </a-form-model-item>
                                    </a-col>
                                    <a-col :span="12">
                                        <a-form-model-item label="Last Name" prop="lname">
                                            <a-input v-model="form.lname" :disabled="loading"></a-input>
                                        </a-form-model-item>
                                    </a-col>
                                    <a-col :span="12">
                                        <a-form-model-item label="Suffix">
                                            <a-input v-model="form.suffix" :disabled="loading"></a-input>
                                        </a-form-model-item>
                                    </a-col>
                                    <a-col :span="24">
                                        <a-form-model-item label="Subject" prop="subject">
                                            <a-input v-model="form.subject" :disabled="loading"></a-input>
                                        </a-form-model-item>
                                    </a-col>
                                    <a-col :span=" $breakpoints.xs ? 24 : 12">
                                        <a-form-model-item label="Password" prop="password">
                                            <a-input-password v-model="form.password" :disabled="loading"></a-input-password>
                                        </a-form-model-item>
                                    </a-col>
                                    <a-col :span=" $breakpoints.xs ? 24 : 12">
                                        <a-form-model-item label="Confirm Password" prop="cPassword">
                                            <a-input-password v-model="form.cPassword" :disabled="loading"></a-input-password>
                                        </a-form-model-item>
                                    </a-col>
                                </a-form-model>
                            </a-row>
                            <a-row type="flex" justify="center">
                                <a-col :span="8">
                                    <a-button @click="confirm" :loading="loading" type="primary" block>Save</a-button>
                                </a-col>
                            </a-row>
                        </a-col>
                    </a-row>
                    
                </a-col>
            </a-row>
           
        </a-card>
        <change-password :visible="showModal" :form="passwordForm" @close="showModal = false" @submit="saveBtn"/>
    </div>
</template>

<script>
import Cookies from 'js-cookie';
export default {
    layout: 'header',
    data(){
        return{
            passwordForm: {},
            users: [],
            profInfo: [],
            form: {},
            rules: {
                fname: { required: true, message: 'Please input username', trigger: 'change'},
                lname: { required: true, message: 'Please input username', trigger: 'change'},
                subject: { required: true, message: 'Please input username', trigger: 'change'},
                password: { required: true, message: 'Please input username', trigger: 'change'},
                cPassword: { required: true, message: 'Please input username', trigger: 'change'},
            },
            showModal: false,
            loading: false

        }
    },
    async fetch(){
        await this.getUser();
        if(this.users.role == "student"){
            this.$router.push("/")
        }
    },
    methods:{
        async getUser(){
            try {
                let token = Cookies.get('token')
                console.log("token: >> ", token);
                let {data} = await this.$axios.get("/users/profile", { headers: { "token": token}})
                this.users = data
            } catch (error) {
                console.log(error);
            }
        },
        confirm() {
            this.$refs.ruleForm.validate(valid => {
                if(valid) {
                    this.saveProfile();
                } else {
                    this.$notification.error({
                        message: "Error",
                        description: "Fill up required fields"
                    })
                }
            });
        },
        async saveProfile(){
            try {
                this.loading = true;

                if(this.form.password != this.form.cPassword) return this.$notification.error({  message: "Password doesn't match" })
                

                let {data} = await this.$axios.put(`/profiles/${this.users.profile._id}`, this.form) 
                console.log(data);
                await this.$axios.put(`/teachers/${this.users._id}`, this.form)
                this.form._id = this.users.user._id;
                await this.$axios.put(`/users/`, this.form)
                this.form = {};
                this.$fetch();
                this.$notification.success({
                    message: 'Success',
                    description: 'Successfully updated!'
                })
            } catch (error) {
                console.log(error);
            } finally {
                this.loading = false;
            }
        },
        changePassButton(){
            this.showModal = true;
        },
    }
}
</script>

<style>

</style>