<template>
    <div>
        <a-card :style="'margin-bottom: 30px;'">
            <span :style=" $breakpoints.md ? 'font-size: 25px;' : $breakpoints.xs ? 'font-size: 20px' : 'font-size: 36px'">Notifications</span>
        </a-card>
        <a-row type="flex" justify="center" align="middle">
            <a-card style="width: 100%">
                <a-col>
                    <a-spin :spinning="loading">
                        <a-icon slot="indicator" type="loading" style="font-size: 36px;" />
                
                        <a-card class="notif-cards" v-for="item in notifications" :key="item._id" :style=" item.status == 'Viewed' ? 'background-color: #F4F4F4' : ''">
                        
                            <a-list class="notif_list" :data-source="notifcations">
                                <a-list-item-meta :description="item.description">
                                    <div slot="title"   >
                                        <h3 :style=" item.status == 'Unviewed' ? 'color: #000': 'font-weight: 300px !important; color: #bbb'">{{ item.name }}</h3>
                                    </div>
                                    <a-avatar slot="avatar" :style=" item.status == 'Unviewed' ? 'background: #1890ff' : ''">
                                        <a-icon type="calendar" ></a-icon>
                                    </a-avatar>
                                </a-list-item-meta> 
                            </a-list>
                            <a-row type="flex" justify="end">
                                <a-col>
                                    <a v-if="item.status == 'Unviewed'" @click=" viewNotifications(item)">Mark as Read</a>
                                </a-col>
                            </a-row>

                            
                        </a-card>
                    </a-spin>
                </a-col>
       
            </a-card>
        </a-row>
           
    </div>
</template>
<script>
import Cookies from 'js-cookie';
export default{
    layout: 'header',
    data(){
        return{
            users: [],
            notifications: [],
            loading: false
        }
    },
    async fetch(){
        await this.getUsers();
    },
    methods: {
        async getUsers(){
            try {
                this.loading = true;
                let token = Cookies.get("token")
                let {data} = await this.$axios.get("users/profile/", {headers: { 'token': token}})
                this.users = data;
                let result = await this.$axios.get(`/notifications/${ data.user.role == "professor" ? 'teachers': 'students'}/${data._id}`)
                this.notifications = result.data;

            } catch (error) {
                console.log(error);
            } finally {
                this.loading = false;
            }
        },
        async viewNotifications(item){
            try {
                let {data} = await this.$axios.put(`/notifications/${item._id}`)
                await this.$fetch();
            } catch (error) {
                console.log(error);
            }
        }
    }
}
</script>
<style>
.notif_list .ant-list-item-meta-title h3 {
    font-weight: 400 !important;
}
.notif-cards:hover{
    cursor: pointer;
    background: #eee;
}
</style>