<template>
    <div>
        <a-card :style="'margin-bottom: 30px'">
            <span :style=" $breakpoints.md ? 'font-size: 25px;' : $breakpoints.xs ? 'font-size: 20px' : 'font-size: 36px'">Profile</span>
        </a-card>

        <a-card class="card-height" :style=" $breakpoints.sSm ? 'padding: 10px 0px' : 'padding: 30px'">

            <a-row type="flex" justify="center" :gutter="[20, 20]">
                <a-col :span="$breakpoints.md ? '24' : $breakpoints.sMd ? '24' : '18'">
                    <a-row type="flex" justify="center">
                        <a-col :span=" $breakpoints.xs ? '20' : $breakpoints.sSm ? '20' : $breakpoints.sm ? '18' : '24'">
                            <h1>Do you want to update your Profile? <span style="color: #1f67dc">Update here <a-icon type="arrow-down" /></span></h1>
                                <a-row :gutter="[10]">
                                    <a-form-model :model="profile" :rules="rules" ref="ruleForm">
                                        <a-col :span="12">
                                            <a-form-model-item label="First Name" prop="fname">
                                                <a-input v-model="profile.fname" :disabled="loading"></a-input>
                                            </a-form-model-item>
                                        </a-col>
                                        <a-col :span="12">
                                            <a-form-model-item label="Middle Name">
                                                <a-input v-model="profile.mname" :disabled="loading"></a-input>
                                            </a-form-model-item>
                                        </a-col>
                                        <a-col :span="12">
                                            <a-form-model-item label="Last Name" prop="lname">
                                                <a-input v-model="profile.lname" :disabled="loading"></a-input>
                                            </a-form-model-item>
                                        </a-col>
                                        <a-col :span="12">
                                            <a-form-model-item label="Suffix"  >
                                                <a-input v-model="profile.suffix" :disabled="loading"></a-input>
                                            </a-form-model-item>
                                        </a-col>
                                        <a-col :span="8">
                                            <a-form-model-item label="Course" prop="course">
                                                <a-input v-model="profile.course" :disabled="loading"></a-input>
                                            </a-form-model-item>
                                        </a-col>
                                        <a-col :span="8">
                                            <a-form-model-item label="Year" prop="year">
                                                <a-select v-model="profile.year" :disabled="loading">
                                                    <a-select-option value="1">1</a-select-option>
                                                    <a-select-option value="2">2</a-select-option>
                                                    <a-select-option value="3">3</a-select-option>
                                                    <a-select-option value="4">4</a-select-option>
                                                    <a-select-option value="5">5</a-select-option>
                                                </a-select>
                                            </a-form-model-item>
                                        </a-col>
                                        <a-col :span="8">
                                            <a-form-model-item label="Section" prop="section">
                                                <a-input v-model="profile.section" :disabled="loading"></a-input>
                                            </a-form-model-item>
                                        </a-col>
                                        <a-col :span=" $breakpoints.xs ? 24 : 12">
                                            <a-form-model-item label="Password" prop="password">
                                                <a-input-password v-model="profile.password" :disabled="loading"></a-input-password>
                                            </a-form-model-item>
                                        </a-col>
                                        <a-col :span=" $breakpoints.xs ? 24 : 12">
                                            <a-form-model-item label="Confirm Password" prop="cPassword">
                                                <a-input-password v-model="profile.cPassword" :disabled="loading"></a-input-password>
                                            </a-form-model-item>
                                        </a-col>
                                    </a-form-model>
                                </a-row>
                            <a-row type="flex" justify="center">
                                <a-col :span="8">
                                    <a-button @click="confirm" :loading="loading" type="primary" block>Save</a-button>
                                </a-col>
                            </a-row>
                        </a-col>
                    </a-row>
                    
                </a-col>
            </a-row>
           
        </a-card>
        <!-- <change-password :visible="showModal" :form="passwordForm" @close="showModal = false" @submit="saveBtn"/> -->
    </div>
</template>

<script>
import Cookies from 'js-cookie';
export default {
    layout: 'header',
    data(){
        return{
            passwordForm: {},
            profile: {},
            users: [],
            students: [],
            appointments: [],
            columns: [
                {
                    title: 'Professor',
                    key: 'name',
                    scopedSlots: { customRender: 'name'}
                },
                {
                    title: 'Date',
                    key: 'date',
                    scopedSlots: { customRender: 'date'}
                },
                {
                    title: 'Action',
                    key: 'action',
                    scopedSlots: { customRender: 'action'}
                },
                
            ],
            rules: {
                fname: { required: true, message: 'Please fill up this fields', trigger: 'change'},
                lname: { required: true, message: 'Please fill up this fields', trigger: 'change'},
                course: { required: true, message: 'Please fill up this fields', trigger: 'change'},
                year: { required: true, message: 'Please fill up this fields', trigger: 'change'},
                section: { required: true, message: 'Please fill up this fields', trigger: 'change'},
                password: { required: true, message: 'Please fill up this fields', trigger: 'change'},
                cPassword: { required: true, message: 'Please fill up this fields', trigger: 'change'},
            },
            showModal: false,
            loading: false
        }
    },
    computed: {
        
    },
    async fetch(){
        await this.getStudent();
        await this.getApointment();
        if(this.users.role == "professor"){
            this.$router.push("/")
        }
    },
    methods: {
        async getStudent(){
           try {
             let token = Cookies.get('token');
             let {data} = await this.$axios.get("/users/profile", { headers: { "token": token}});
             this.users = data;
             let studentData = await this.$axios.get(`/students/${data._id}`);

             this.students = studentData.data
           } catch (error) {
            console.log(error);
           }
            // let {data} 
        },
        async getApointment(){
            let {data} = await this.$axios.get("/schedules");
            let result = data.filter( e => e.studentId == this.students._id)
            this.appointments = result;
            console.log(this.appointments);
        },
        dateFormatter(date){
            let month = new Date(date).toString().split(' ')[1];
            let splitter = new Date(date).toLocaleDateString().split('/');
            return `${month} ${splitter[1]}, ${splitter[2]}`;
        },
        confirm() {
            this.$refs.ruleForm.validate(valid => {
                if(valid) {
                    this.saveProfile();
                } else {
                    this.$notification.error({
                        message: "Error",
                        description: "Fill up required fields"
                    })
                }
            });
        },
        async saveProfile(){
            try {
                this.loading = true;

                if(this.profile.password != this.profile.cPassword) return this.$notification.error({  message: "Password doesn't match" })
                

                let {data} = await this.$axios.put(`/profiles/${this.users.profile._id}`, this.profile)
                await this.$axios.put(`/students/${this.users._id}`, this.profile)
                this.profile._id = this.users.user._id;
                await this.$axios.put(`/users/`, this.profile)
                this.profile = {};
                this.$fetch();
                this.$notification.success({
                    message: 'Success',
                    description: 'Successfully updated!'
                })
            } catch (error) {
                console.log(error);
            } finally {
                this.loading = false;
            }
        },
        changePassButton(){
            this.showModal = true; 
        },
        // async saveBtn(item){
        //     if(item.password != item.confirmPassword){
        //         this.$notification.error({
        //             message: 'Error',
        //             description: 'Password Doesn`t match!'
        //         })
        //     } else {
        //         item._id = this.users._id;

        //         console.log("profile", this.users);
        //         let {data} = await this.$axios.put('/users/', item)
        //         if(data.message == 'Unauthorized'){
        //             this.$notification.error({
        //                 message: "Error",
        //                 description: 'Unable to change your password'
        //             })   
        //             item.password = "";
        //             item.confirmPassword = "";
        //         } else {
        //             this.$notification.success({
        //                 message: "Success",
        //                 description: 'Successfully updated your password'
        //             })
        //             item.password = "";
        //             item.confirmPassword = "";
        //             this.showModal = false; 
        //         }
                
        //         console.log("data: >>", data);
                
        //     }
        // }

    }
}
</script>

<style>
.card-height .ant-card-body{
    padding: 0;
}
</style>